services:
  volvoprogrammingexercise.presentation:
    image: ${DOCKER_REGISTRY-}volvoprogrammingexercisepresentation
    build:
      context: .
      dockerfile: VolvoProgrammingExercise.Presentation/Dockerfile
